<!DOCTYPE html>
<html>

<head>
    <mate charest="utf-8" />
    <title>Archimate report!</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11pt;
        }

        .page {
            page-break-before: always !important;
            margin-bottom: 2em;
        }

        .elements {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .elements td,
        .elements th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .elements tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .elements tr:hover {
            background-color: #ddd;
        }

        .elements th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        h1 {
            font-size: 18pt;
            font-weight: bold;
        }

        h2 {
            page-break-before: always !important;
            clear: both;
            font-size: 14pt;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>{{name}}</h1>
    <div>
        {{purpose}}
    </div>

    {{#each views}}
    <div class="page">
        <h2>{{this.name}}</h2>
        <p></p>
        {{this.documentation}}
        </p>
        <img src="data:image/png;base64,{{this.img}}" style="max-width: 100%"/>
        <h3>Elements</h3>
        <table class="elements">
            <tr>
                <th style="width: 10em">Name</th>
                <th style="width: 10em">Type</th>
                <th>Description</th>
            </tr>
            </tr>
            {{#each this.elements}}
            <tr>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.type}}
                </td>
                <td>
                    {{this.documentation}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/each}}
</body>

</html>